{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
<h>{{ message }}</h>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <label for="transformation">choose your transformation</label>
    <select name="transformation" id="transformation">
        <option value="capital">Capital</option>
        <option value="spaces">Spaces to Dashes</option>
    </select><br>
    <input type="submit"  value="submit your message"/>
    {{ form_end(form) }}
{% endblock %}
